In [38]:
import pandas as pd
import numpy as np
import processing.b_feats.util
import processing.processing_utils
import importlib
from constants import LEVELS, START, MAX_DELAY
from rlenv.time_triggers import *
from compress_pickle import dump, load
import sys
import os
os.chdir('A:/ebay/')
sys.path.append('repo/processing/b_feats/test/')
import meta_time_feats_test  
importlib.reload(meta_time_feats_test)
importlib.reload(processing.b_feats.time_funcs)
importlib.reload(processing.b_feats.util)
get_cat_feats = processing.b_feats.util.get_cat_feats
setup_complex_lstg = meta_time_feats_test.setup_complex_lstg
delay_appendix_1 =  meta_time_feats_test.delay_appendix_1
delay_appendix_2 = meta_time_feats_test.delay_appendix_2
add_event = meta_time_feats_test.add_event
NEW_LSTG = 'new_lstg'
ACCEPTANCE = 'accept'
EXPIRE_LSTG = 'expire_lstg'
CENSORED = 'censored'

In [39]:
events = setup_complex_lstg(None, meta=1, leaf=1)
events = setup_complex_lstg(events, meta=2, leaf=1, starter=11)
events.index = events.index.droplevel(['leaf', 'cndtn'])
actual = get_cat_feats(events, levels=['meta'], feat_ind=2)

quant vector
meta  lstg_id
1     6          0.25
2     17         0.25
1     4          0.50
2     15         0.50
1     5          0.60
2     16         0.60
1     3          0.70
2     14         0.70
1     2          0.80
2     13         0.80
1     9          0.85
2     20         0.85
1     8          0.95
2     19         0.95
1     7          1.00
2     18         1.00
1     1           NaN
      10          NaN
      11          NaN
2     12          NaN
      21          NaN
      22          NaN
Name: accept_norm, dtype: float64
index names: ['counter', 'meta']
columns: Index(['lstg', 'targ'], dtype='object')
final input vector
              lstg  targ
counter meta
0       1        6  0.25
1       2       17  0.25
2       1        4  0.50
3       2       15  0.50
4       1        5  0.60
5       2       16  0.60
6       1        3  0.70
7       2       14  0.70
8       1        2  0.80
9       2       13  0.80
10      1        9  0.85
11      2       20  0.85
12      1        8  0.95
13      2       19  0.95
14      1        7  1.00
15      2       18  1.00
16      1        1   NaN
17      1       10   NaN
18      1       11   NaN
19      2       12   NaN
20      2       21   NaN
21      2       22   NaN
index subset
MultiIndex([( 0, 1),
            ( 2, 1),
            ( 4, 1),
            ( 6, 1),
            ( 8, 1),
            (10, 1),
            (12, 1),
            (14, 1),
            (16, 1),
            (17, 1),
            (18, 1)],
           names=['counter', 'meta'])
targs
[0.25 0.5  0.6  0.7  0.8  0.85 0.95 1.    nan  nan  nan]
lstgs
[ 6  4  5  3  2  9  8  7  1 10 11]
curr lstg: 6
curr lstg: 4
curr lstg: 5
curr lstg: 3
curr lstg: 2
curr lstg: 9
curr lstg: 8
curr lstg: 7
curr lstg: 1
curr lstg: 10
curr lstg: 11
index subset
MultiIndex([( 1, 2),
            ( 3, 2),
            ( 5, 2),
            ( 7, 2),
            ( 9, 2),
            (11, 2),
            (13, 2),
            (15, 2),
            (19, 2),
            (20, 2),
            (21, 2)],
           names=['counter', 'meta'])
targs
[0.25 0.5  0.6  0.7  0.8  0.85 0.95 1.    nan  nan  nan]
lstgs
[17 15 16 14 13 20 19 18 12 21 22]
curr lstg: 17
curr lstg: 15
curr lstg: 16
curr lstg: 14
curr lstg: 13
curr lstg: 20
curr lstg: 19
curr lstg: 18
curr lstg: 12
curr lstg: 21
curr lstg: 22

In [32]:
events = setup_complex_lstg(None, meta=1, leaf=1)
events = setup_complex_lstg(events, meta=2, leaf=1, starter=11)
events.index = events.index.droplevel(['leaf', 'cndtn'])
actual2 = get_cat_feats(events, levels=['meta'], feat_ind=2)

In [40]:
actual

,meta_accept_norm_25,meta_accept_norm_50,meta_accept_norm_75,meta_accept_norm_100
lstg,,,,
1,0.5,0.7,0.85,1.00
2,0.5,0.7,0.85,1.00
3,0.5,0.8,0.85,1.00
4,0.6,0.8,0.85,1.00
5,0.5,0.8,0.85,1.00
6,0.6,0.8,0.85,1.00
7,0.5,0.7,0.80,0.95
8,0.5,0.7,0.80,1.00
9,0.5,0.7,0.80,1.00
10,0.5,0.7,0.85,1.00
11,0.5,0.7,0.85,1.00
12,0.5,0.7,0.85,1.00
13,0.5,0.7,0.85,1.00
14,0.5,0.8,0.85,1.00
15,0.6,0.8,0.85,1.00
16,0.5,0.8,0.85,1.00
17,0.6,0.8,0.85,1.00
18,0.5,0.7,0.80,0.95
19,0.5,0.7,0.80,1.00
20,0.5,0.7,0.80,1.00
21,0.5,0.7,0.85,1.00
22,0.5,0.7,0.85,1.00

In [34]:
actual2

,meta_accept_norm_25,meta_accept_norm_50,meta_accept_norm_75,meta_accept_norm_100
lstg,,,,
1,0.5,0.7,0.85,1.00
2,0.5,0.7,0.85,1.00
3,0.5,0.8,0.85,1.00
4,0.6,0.8,0.85,1.00
5,0.5,0.8,0.85,1.00
6,0.6,0.8,0.85,1.00
7,0.5,0.7,0.80,0.95
8,0.5,0.7,0.80,1.00
9,0.5,0.7,0.80,1.00
10,0.5,0.7,0.85,1.00
11,0.5,0.7,0.85,1.00
12,0.5,0.7,0.85,1.00
13,0.5,0.7,0.85,1.00
14,0.5,0.8,0.85,1.00
15,0.6,0.8,0.85,1.00
16,0.5,0.8,0.85,1.00
17,0.6,0.8,0.85,1.00
18,0.5,0.7,0.80,0.95
19,0.5,0.7,0.80,1.00
20,0.5,0.7,0.80,1.00
21,0.5,0.7,0.85,1.00
22,0.5,0.7,0.85,1.00

In [2]:
b = pd.MultiIndex.from_tuples([(0, 4), (0, 3), (1, 5), (1, 3), (1, 2), (0, 2)], names=['a', 'b'])
t = pd.DataFrame(data={'dat':[15, 2, 3, 4, 5, 6]}, index=b)

In [3]:
t

     dat
a b
0 4   15
  3    2
1 5    3
  3    4
  2    5
0 2    6

In [9]:
gr = t.groupby('a')
for _, curr_index in gr.groups.items():
    print('curr index')
    print(curr_index)
    print('levels')
    print(curr_index.levels[1])
    print('subset')
    subset = t.loc[curr_index]
    print(subset)

curr index
MultiIndex([(0, 4),
            (0, 3),
            (0, 2)],
           names=['a', 'b'])
levels
Int64Index([2, 3, 4, 5], dtype='int64', name='b')
subset
     dat
a b
0 4   15
  3    2
  2    6
curr index
MultiIndex([(1, 5),
            (1, 3),
            (1, 2)],
           names=['a', 'b'])
levels
Int64Index([2, 3, 4, 5], dtype='int64', name='b')
subset
     dat
a b
1 5    3
  3    4
  2    5