In [1]:
import os
import numpy as np
import pandas as pd
os.chdir('A:/dropbox/ebay')

In [2]:
data_path = 'data/raw/listings.csv'

In [3]:
data = pd.read_csv(data_path)

In [4]:
for col in data.columns:
    print(col)

anon_item_id
anon_title_code
anon_product_id
anon_leaf_categ_id
anon_slr_id
anon_buyer_id
auct_start_dt
fdbk_score_start
fdbk_pstv_start
auct_end_dt
start_price_usd
photo_count
to_lst_cnt
bo_lst_cnt
count1
ref_price1
count2
ref_price2
count3
ref_price3
item_cndtn_id
view_item_count
wtchr_count
meta_categ_id
item_price
bo_ck_yn
ship_time_slowest
ship_time_fastest
ship_time_chosen
decline_price
accept_price
bin_rev
lstg_gen_type_id
store
ref_price4
count4
slr_us
buyer_us

In [15]:
subdata = data.loc[:, ['meta_categ_id', 'anon_leaf_categ_id']].copy()

In [16]:
len(subdata)

98307281

In [17]:
subdata.drop_duplicates(['meta_categ_id', 'anon_leaf_categ_id'], keep='first', inplace=True)

In [18]:
len(subdata)

18188

In [20]:
leaf_counts = subdata.groupby('meta_categ_id').count()

In [21]:
leaf_counts

               anon_leaf_categ_id
meta_categ_id
1                            4396
99                            188
220                          1025
237                           417
260                           466
267                            51
281                          1305
293                           255
316                            60
550                            26
619                           428
625                           143
870                           473
888                          1350
1249                           29
1281                          192
1305                            5
2984                          155
3252                           28
6000                            2
10542                           6
11116                         603
11232                          24
11233                          19
11450                         750
11700                        1259
12576                        1653
14339                         532
15032                          42
20081                         612
26395                         423
45100                         825
58058                         240
64482                         203
172008                          3

In [22]:
leaf_counts.loc[12576]

anon_leaf_categ_id    1653
Name: 12576, dtype: int64