In [1]:
import os

In [2]:
os.chdir('A:/dropbox/ebay/') # BARRY'S Working directory

In [6]:
import importlib
import os
import numpy as np
import pandas as pd
from utils import unpickle
import torch
import compress_pickle as cp

In [10]:
lookup = cp.load('data/partitions/train_rl/lookup.gz')

In [23]:
lookup.reset_index(drop=False, inplace=True)

In [24]:
lookup

,lstg,slr,store,meta,start_date,start_price,decline_price,accept_price
0,40,58323,0,1,210,74.99,0.00,74.99
1,631,39861,0,4,116,6.00,0.00,6.00
2,646,109775,1,6,275,128.00,90.00,109.00
3,992,31970,0,11,108,15.00,0.00,15.00
4,1131,62576,1,12,105,62.99,0.00,62.99
...,...,...,...,...,...,...,...,...
171217,98303335,62576,1,12,155,35.99,0.00,35.99
171218,98303947,127720,1,12,173,20.00,0.00,20.00
171219,98305839,104702,0,33,171,4.99,3.50,3.50
171220,98306253,91490,1,24,261,79.99,59.99,79.99
171221,98307176,102694,1,33,291,29.99,0.00,29.99

In [25]:
list(lookup.columns)

['lstg',
 'slr',
 'store',
 'meta',
 'start_date',
 'start_price',
 'decline_price',
 'accept_price']